@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Ephesis&family=Kanit:ital@1&family=Libre+Baskerville&family=Nova+Square&family=Nunito&family=Playfair+Display&family=Poppins:ital,wght@0,400;1,500&family=Raleway:ital@1&family=Teko&family=Tilt+Neon&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 2em 9%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 3em;
}
body{
    background: #2a201c;
}
nav .nav-item{
    margin-right: 3em;
    text-decoration: none;
    font-size: 20px;
    color: #fff;

}

.nav-item:hover{
    color: #d3ad7f;
}

.logo{
    font-size: 25px;
    text-decoration: none;
    color: #fff;

}


/* homeeeeeee */


.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;    
    align-items: center;
    justify-content: center;
}

.home .content{
    flex: 1 1 40rem;

}

.home .content .title{
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
}

.home .content .title span{
    text-transform: uppercase;
    color: #d3ad7f;
}

.home .content .descr{
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1em 0;
    color: #fff;
}


.home .image{
    flex: 1 1 30rem;
}

.home .image img{
    width: 100%;
}

.btn{
    margin-top: 1em;
    display: inline-block;
    padding: .9em 2em;
    font-size: 1.7em;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}

.btn:hover{
    letter-spacing: .1em;
}